body{
    margin: 0;
}
img{
    width: 100%;
   
}
.portret{
    max-width: 50%;
}
.screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height:100vh;
    box-sizing: border-box;
}
.one{
    background: linear-gradient(rgb(62, 34, 15),rgb(91, 52, 17),rgb(104, 68, 37));
    color:rgb(164, 95, 34);

}
.two{
    
    background-size: cover;
    background-image: url(world-map.jpg);
    background-position: 50% 50%;
    
}
h2{
    color: rgb(140, 104, 90);
    text-shadow: 0px 2px 5px rgb(99, 97, 97);
    font-size: 50px;
}
h3{
    text-align: center;
}
.interesting{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap;
}
.fact{
    width: 300px;
    background-color: rgb(195, 173, 154);
    padding: 30px;
    margin: 30px;
    box-shadow: 0px 10px 15px wheat;
    flex-wrap:wrap;
    font-family: "Pattaya", serif;
}
.three .fact:nth-child(2){
    border-radius: 50%;
    box-shadow: 10px 0px 5px rgb(78, 164, 50);

}
.three .fact:nth-child(1){
    border-radius: 20%;
    box-shadow: 10px 0px 20px rgb(110, 44, 44);}
.three .fact:nth-child(3){
        border-radius: 20%;
        box-shadow: 20px 10px 25px rgb(108, 49, 55);
}
.three{
       background: linear-gradient(rgb(62, 34, 15),rgb(91, 52, 17),rgb(104, 68, 37));
       padding-bottom: 50px;
}
.four{
    padding-bottom: 50px;
background: linear-gradient(rgb(104, 68, 37),rgb(91, 52, 17),rgb(62, 34, 15));

}
.five{
    background: linear-gradient(rgb(62, 34, 15),rgb(91, 52, 17),rgb(104, 68, 37));
}
.five h2{
        padding: 20px;
     color: rgb(195, 189, 181);
     font-size: 4.5rem;
     border-bottom: 2px solid rgb(220, 210, 198);
     text-shadow: none;

}  
li{
    color: #e6bf78;
    font-size: 1.2rem;
}
li:nth-child(2n){
        transform: translateX(-50px);
        margin: 10px;
    }
    
    
